<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Questions & Answers</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Questions & Answers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            {% if not user %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            {% if user and user['admin'] == 0 and user['expert'] == 0 %}
            <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
            {% endif %}
            {% if user and user['expert'] == 1 %}
            <li><a href="{{ url_for('answer') }}">Answer Questions</a></li>
            {% endif %}
            {% if user and user['admin'] == 1 %}
            <li><a href="{{ url_for('users') }}">User Setup</a></li>
            {% endif %}
            {% if user %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Answered Questions</h1>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Question One</h4>
              <p class="list-group-item-text">Asked by: Herbert</p>
              <p class="list-group-item-text">Answered by: Anthony</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Question Two</h4>
              <p class="list-group-item-text">Asked by: Herbert</p>
              <p class="list-group-item-text">Answered by: Anthony</p>
            </a>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">Question Three</h4>
              <p class="list-group-item-text">Asked by: Herbert</p>
              <p class="list-group-item-text">Answered by: Anthony</p>
            </a>
          </div>
        </div><!-- /.col-lg-12 -->
      </div>

    </div> <!-- /container -->

  </body>
</html>
